<div class="container mt-3">

    <h1>Formulario Reactivo</h1>

    <form [formGroup]="formularioUsuario" (ngSubmit)="agregarUsuario()">
        <div class="mb-3">
            <label for="" class="form-label">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div class="form-text"
                *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']">
                El campo nombre es requerido</div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Correo:</label>
            <input type="text" class="form-control" formControlName="correo">
            <div class="form-text"
                *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['required']">
                El campo correo es requerido</div>
            <div class="form-text"
                *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['email']">
                El
                formato del correo no es correcto</div>
            <div class="form-text"
                *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['pattern']">
                Correo no válido</div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" formControlName="contraseña">
            <div class="form-text"
                *ngIf="formularioUsuario.get('contraseña')?.touched && formularioUsuario.get('contraseña')?.errors?.['required']">
                El campo contraseña es requerido</div>
            <div class="form-text"
                *ngIf="formularioUsuario.get('contraseña')?.touched && formularioUsuario.get('contraseña')?.errors?.['minlength']">
                La contraseña debe tener al menos 6 caracteres</div>
            <div class="form-text"
                *ngIf="formularioUsuario.get('contraseña2')?.touched && formularioUsuario.get('contraseña2')?.errors?.['pattern']">
                La contraseña debe tener al menos una mayúscula</div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Repetir contraseña:</label>
            <input type="password" class="form-control" formControlName="contraseña2">
            <div class="form-text"
                *ngIf="formularioUsuario.get('contraseña2')?.touched && formularioUsuario.get('contraseña2')?.errors?.['required']">
                El campo contraseña es requerido</div>
            <div class="form-text"
                *ngIf="formularioUsuario.get('contraseña2')?.touched && formularioUsuario.get('contraseña2')?.errors?.['minlength']">
                La contraseña debe tener al menos 6 caracteres</div>
            <div class="form-text" *ngIf="!contrasenasIguales">La contraseñas no coinciden</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" formControlName="admin">
            <label for="" class="form-check-label">Admin</label>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit" [disabled]="formularioUsuario.invalid">Agregar
                usuario</button>
        </div>
    </form>

</div>